.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}


table{
     width: "100%" 
}

body{
    background-color: antiquewhite;
}

h1{
    color: brown;
    text-align: center;
}

h2{
    color:rgb(73, 73, 73);
    
}

p{
    color: black;
}

textarea{
    margin: 50px;
}

button{
    display: block;
    border-radius: 5px;
    border: 1px solid;
    margin: auto;
}

#spaceCowboy{
    display: block;
    margin: auto;
}

.vl {
  border-left: 6px solid rgb(0, 17, 0);
  height: 25%;
  position: absolute;
  left: 50%;
  /*margin-left: -3px;*/
  top: 33%;
  bottom: 33%;
}