table{
     width: "100%" 
}

body{
    background-color: antiquewhite;
}

h1{
    color: brown;
    text-align: center;
}

textarea{
    margin: 50px;
}

button{
    display: block;
    border-radius: 5px;
    border: 1px solid;
    margin: auto;
}